<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <% if (config.RSS) { %>
          <li>
            <a title="訂閱RSS" href="<%= config.root + 'feed.xml' %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.twitter_username) { %>
          <li>
            <a
              target="_blank"
              rel="noopener"
              href="https://twitter.com/<%= config.twitter_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.zhihu_username) { %>
          <li>
            <a
              target="_blank"
              rel="noopener"
              href="https://www.zhihu.com/people/<%= config.zhihu_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa  fa-stack-1x fa-inverse">知</i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.medium_username) { %>
          <li>
            <a
              target="_blank"
              rel="noopener"
              href="https://medium.com/@<%= config.medium_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.facebook_username) { %>
          <li>
            <a
              title="Facebook"
              target="_blank"
              rel="noopener"
              href="https://www.facebook.com/<%= config.facebook_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.github_username) { %>
          <li>
            <a
              title="Github"
              target="_blank"
              rel="noopener"
              href="https://github.com/<%= config.github_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %> <% if (config.linkedin_username) { %>
          <li>
            <a
              title="Linkedin"
              target="_blank"
              rel="noopener"
              href="https://www.linkedin.com/in/<%= config.linkedin_username %>"
            >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <% } %>
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; <%= config.title %> <%= new Date().getFullYear() %>
          <br />
          Theme by <a title="原作者" href="http://huangxuan.me">Hux</a>
          <span style="display: inline-block; margin: 0 5px;">
            &
          </span>
          Ported by
          <a
            title="第二作者"
            href="https://github.com/Kaijun/hexo-theme-huxblog"
            >Kaijun</a
          >
          |
          <iframe
            title=""
            style="margin-left: 2px; margin-bottom:-5px;"
            frameborder="0"
            scrolling="0"
            width="91px"
            height="20px"
            src="https://ghbtns.com/github-btn.html?user=kaijun&repo=hexo-theme-huxblog&type=star&count=true"
          >
          </iframe>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<%- js('js/jquery.min.js') %>

<!-- Bootstrap Core JavaScript -->
<%- js('js/bootstrap.min.js') %>

<!-- Custom Theme JavaScript -->
<%- js('js/hux-blog.min.js') %>

<!-- async load function -->
<script>
  function async(u, c) {
    var d = document,
      t = "script",
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) {
      o.addEventListener(
        "load",
        function(e) {
          c(null, e);
        },
        false
      );
    }
    s.parentNode.insertBefore(o, s);
  }
</script>

<!-- 
     Because of the native support for backtick-style fenced code blocks 
     right within the Markdown is landed in Github Pages, 
     From V1.6, There is no need for Highlight.js, 
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0  
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/    
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->

<!-- jquery.tagcloud.js -->
<script>
  // only load tagcloud.js in tag.html
  if ($("#tag_cloud").length !== 0) {
    async("<%= config.url%><%= config.root%>js/jquery.tagcloud.js", function() {
      $.fn.tagcloud.defaults = {
        //size: {start: 1, end: 1, unit: 'em'},
        color: { start: "#bbbbee", end: "#0085a1" }
      };
      $("#tag_cloud a").tagcloud();
    });
  }
</script>

<!--fastClick.js -->
<script>
  async(
    "https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js",
    function() {
      var $nav = document.querySelector("nav");
      if ($nav) FastClick.attach($nav);
    }
  );
</script>

<!-- Google Analytics -->

<% if (config.ga_track_id) { %>
<script>
  // dynamic User by Hux
  var _gaId = "<%= config.ga_track_id %>";
  var _gaDomain = "<%= config.ga_domain %>";

  // Originial
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", _gaId, _gaDomain);
  ga("send", "pageview");
</script>

<% } %>

<!-- Baidu Tongji -->
<% if (config.ba_track_id) { %>
<script>
  // dynamic User by Hux
  var _baId = "<%= config.ba_track_id %>";

  // Originial
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?" + _baId;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<% } %>

<!-- Side Catalog -->
<% if (page.catalog) { %>
<script type="text/javascript">
  function generateCatalog(selector) {
    var P = $("div.post-container"),
      a,
      n,
      t,
      l,
      i,
      c;
    a = P.find("h1,h2,h3,h4,h5,h6");
    a.each(function() {
      n = $(this)
        .prop("tagName")
        .toLowerCase();
      i = "#" + $(this).prop("id");
      t = $(this).text();
      c = $('<a href="' + i + '" rel="nofollow">' + t + "</a>");
      l = $('<li class="' + n + '_nav"></li>').append(c);
      $(selector).append(l);
    });
    return true;
  }

  generateCatalog(".catalog-body");

  // toggle side catalog
  $(".catalog-toggle").click(function(e) {
    e.preventDefault();
    $(".side-catalog").toggleClass("fold");
  });

  /*
   * Doc: https://github.com/davist11/jQuery-One-Page-Nav
   * Fork by Hux to support padding
   */
  async("<%= config.root%>js/jquery.nav.js", function() {
    $(".catalog-body").onePageNav({
      currentClass: "active",
      changeHash: !1,
      easing: "swing",
      filter: "",
      scrollSpeed: 700,
      scrollOffset: 0,
      scrollThreshold: 0.2,
      begin: null,
      end: null,
      scrollChange: null,
      padding: 80
    });
  });
</script>
<% } %>
