---
layout: page
---
<!-- Main Content -->

<% page.posts.each(function(post){ %>
<div class="post-preview">

    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "Untitled" %>
        </h2>
        <h3 class="post-subtitle">
            <%- post.subtitle || "" %>
        </h3>
        <div class="post-content-preview">
            <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
        </div>
    </a>
    <p class="post-meta">
        Posted by <%- post.author || config.author %> on
        <%= post.date.format(config.date_format) %>
    </p>

</div>
<hr>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; 較新的文章</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">較舊的文章 &rarr;</a>
        </li>
    <% } %>
</ul>

